#titulo {color: grey;text-align: center;text-decoration: underline;}
.sub {text-align: center;text-decoration: underline;}
.subt {text-align: center;text-decoration: underline;}
.contenido  {font-size: 1.5em}
.nuevos {font-style: italic;text-align: left;;}
.nuevo {font-style: italic;text-align: left;;}
.cuerpo { text-align: left;}
h1, h2, h3 {
  background-image: url("imagenes/bandera.jpg"); width: auto;
}
.iconowhats {width: 50px;
            position: fixed;
            bottom: 10px;
            right: 15px;
}
.face { width: 50px;
  position: absolute;
  bottom:auto;
  left: 15px;

  }
  .insta { width: 50px;
    position: absolute;
    bottom:auto;
    left: 70px;

    }
    .twitter { width: 85px;
      position: absolute;
      bottom:auto;
      left: 120px;

      }
header {border: 5px black solid; }
